.Pokedex {
    font-family: monospace;
}

.Pokedex-Header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Pokedex-Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}